* {
  background-color: rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

ul {
  margin-left: 200px;
  margin-right: 200px;
  list-style-type: none; 
  padding: 0px;
}

li {
  vertical-align: top;
  padding: 0px;
  width: 50px;
  height: 50px;
  border: 1px solid black; 
}

li:nth-child(n+5) {
  margin-left: 50px;
}

li:nth-child(n+9) {
  margin-left: 100px;
}

li:nth-child(n+13) {
  margin-left: 150px;
}

li:nth-child(4n+5) {
  margin-top: -200px;
}
div {
  height: 100%;
}
div:hover {
  background-color: red;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  height: calc(100% + 20px);
}